@model IEnumerable<TheNight_JustBuy.Models.BlogCategory>

@{
    ViewBag.Title = "Manage Blog Categories";
    ViewBag.Manage = "Manage Blog Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data of Blog Categories</h3>
                <p>
                    <a class="btn btn-success btn-sm float-right" href="~/Admin/BlogCategories/Create">
                        <i class="fas fa-plus">
                        </i>
                        Create New
                    </a>
                </p>
            </div>
            <div class="card-body">
                <table id="CategoryTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "BlogCategories", new { id = item.CategoryID })">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "BlogCategories", new { id = item.CategoryID })">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section ScriptConfig
{
    @Styles.Render("~/asset/css/datatable")
    @Scripts.Render("~/asset/scripts/datatable")
    <script>
        $("#CategoryTable").DataTable({
            "responsive": true,
            "autoWidth": false,
            "dom": '<"pull-left"B><"pull-right"f>rt<"row"<"col-sm-4"l><"col-sm-4"i><"col-sm-4"p>>',
            "buttons": [
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i> Excel',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-success btn-sm'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i> PDF',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-danger btn-sm'
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i> Print',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-info btn-sm'
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
            "aoColumns": [
                null,
                null,
                { "width": "20%", "targets": 0 }
            ]
        });
    </script>
}


