{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}
{# Nội dung trong block title #}
{% block title %}
  Sửa khách hàng
{% endblock %}
{# End Nội dung trong block title #}
{# Nội dung trong block headline #}
{% block headline %}
  Sửa khách hàng
{% endblock %}
{# End Nội dung trong block headline #}
{# Nội dung trong block content #}
{% block content %}
  <div class="container-fuild">
    <form name="frmLoaiSanPham" id="frmLoaiSanPham" method="post" action="/backend/shop_customers/edit.php?id={{ shop_customers.id }}" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="id">&emsp;Mã khách hàng</label>
            <input type="text" class="form-control" id="id" name="txtid" placeholder="Mã khách hàng" readonly value="{{ shop_customers.id }}">
          </div>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="username">&emsp;UserName</label></td>
            <input type="text" class="form-control" id="idusername" name="txtusername" placeholder="UserName" value="{{ shop_customers.username }}" required="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="password">&emsp;Password</label>
            <input type="password" class="form-control" id="idpassword" name="txtpassword" placeholder="Password" value="{{ shop_customers.password }}"required="">
          </div>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="lastname">&emsp;LastName</label>
            <input type="text" class="form-control" id="idlastname" name="txtlastname" placeholder="Tên Khách hàng" value="{{ shop_customers.last_name }}"required="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="firstname">&emsp;FirstName</label>
            <input type="text" class="form-control" id="idfirstname" name="txtfirstname" placeholder="Họ Khách Hàng" value="{{ shop_customers.first_name }}"required="">
          </div>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="email">&emsp;Email</label></td>
            <input type="email" class="form-control" id="idemail" name="txtemail" placeholder="Email Khách hàng" value="{{ shop_customers.email }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="avatar">&emsp;Avatar</label>
            <input type="text" id="idavatarcu" name="txtavatarcu" value="{{ shop_customers.avatar }}" hidden>
            <input type="file" class="form-control" id="idavatar" name="txtavatar" placeholder="">
          </div>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="company">&emsp;Company</label>
            <input type="text" class="form-control" id="idcompany" name="txtcompany" placeholder="Công ty" value="{{ shop_customers.company }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="phone">&emsp;Phone</label>
            <input type="number" class="form-control" id="idphone" name="txtphone" placeholder="Số điện thoại" value="{{ shop_customers.phone }}">
          </div>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
            <label for="billingaddress">&emsp;Billing Address</label>
            <input type="text" class="form-control" id="idbillingaddress" name="txtbillingaddress" placeholder="Địa chỉ thanh toán" value="{{ shop_customers.billing_address }}">
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="shippingaddress">&emsp;Shipping Address</label>
        <input type="text" class="form-control" id="idshippingaddress" name="txtshippingaddress" placeholder="Địa chỉ giao hàng" value="{{ shop_customers.shipping_address }}">
      </div>
    </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="city">&emsp;City</label>
        <input type="text" class="form-control" id="idcity" name="txtcity" placeholder="Thành phố" value="{{ shop_customers.city }}">
      </div>
    </div>
  </div>
 <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="state">&emsp;State</label>
        <input type="text" class="form-control" id="idstate" name="txtstate" placeholder="Bang" value="{{ shop_customers.state }}">
      </div>
    </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="postalcode">&emsp;Postal Code</label>
        <input type="text" class="form-control" id="idpostalcode" name="txtpostalcode" placeholder="Mã bưu chính" value="{{ shop_customers.postal_code }}">
      </div>
    </div>
  </div>
       <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
        <label for="country">&emsp;Country</label>
        <input type="text" class="form-control" id="idcountry" name="txtcountry" placeholder="Quốc Gia"value="{{ shop_customers.country }}">
      </div>
    </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="remembertoken">&emsp;Remember Token</label>
        <input type="text" class="form-control" id="idremembertoken" name="txtremembertoken" placeholder="Token ghi nhớ đăng nhập" value="{{ shop_customers.remember_token }}">
      </div>
    </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="activecode">&emsp;Active Code</label>
        <input type="text" class="form-control" id="idactivecode" name="txtactivecode" placeholder="Mã kích hoạt" value="{{ shop_customers.active_code }}">
      </div>
    </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="status">&emsp;Status</label>
        <input type="text" class="form-control" id="idstatus" name="txtstatus" placeholder="Trạng thái" value="{{ shop_customers.status }}">
        </div>
      </div>
      </div>
     <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="createdat">&emsp;Created At</label>
        <input type="text" class="form-control" id="idcreatedat" name="txtcreatedat" placeholder="Ngày tạo"readonly value="{{ shop_customers.created_at }}"required="">
      </div>
    </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group ">
        <label for="updated_at">&emsp;Updated At</label>
        <input type="text" class="form-control" id="idupdatedat" name="txtupdatedat" placeholder="Ngày Sửa"readonly value="{{ shop_customers.updated_at }}"required="">
      </div>
    </div>
        
        <button class="btn btn-primary " name="btnSave">Cập nhật</button>
      </div>
    </form>
  </div>
{% endblock %}
{# End Nội dung trong block content #}