@model TheNight_JustBuy.Models.Product

@{
    ViewBag.Title = "Products Detail";
    ViewBag.Function = "Products";
    ViewBag.ChildFunction = "Products Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h1 style="font-weight:bold; font-size:25px;" class="card-title">Detail of Products</h1>

            <div class="card-tools">
                <a class="btn btn-block btn-secondary float-right" href="~/Admin/Products">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 order-12 order-md-12">
                    <div class="row">
                        <div class="col-12">

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.ProductID)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.ProductID)
                                </div>
                            </div>

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.ProductName)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.ProductName)
                                </div>
                            </div>
                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.LaunchDate)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.LaunchDate)
                                </div>
                            </div>

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Supplier.CompanyName)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Supplier.CompanyName)
                                </div>
                            </div>
                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Category.CategoryName)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.Category.CategoryName)
                                </div>
                            </div>
                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.UnitPrice)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.UnitPrice)
                                </div>
                            </div>

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.OldUnitPrice)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.OldUnitPrice)
                                </div>
                            </div>

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.ShortDescription)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.DisplayFor(model => model.ShortDescription)
                                </div>
                            </div>

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Description)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @Html.Raw(Model.Description)
                                </div>

                            </div>

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.UnitsInStock)</strong>:
                                </div>
                                <div class="col-sm-10">

                                    @Html.DisplayFor(model => model.UnitsInStock)

                                </div>
                            </div>

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Status)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    @if (Model.Status == false)
                                    {
                                        <div>Stop Selling</div>
                                    }
                                    else
                                    {
                                        <div>Being Sold</div>
                                    }
                                </div>
                            </div>

                            <div class="post row">
                                <div class="col-sm-2 user-block">
                                    <strong>@Html.DisplayNameFor(model => model.Thumbnail)</strong>:
                                </div>
                                <div class="col-sm-10">
                                    <img class="img-responsive" src="@Url.Content(Model.Thumbnail)" alt="" style="max-width: 300px" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

