@model TheNight_JustBuy.Models.ProductImage

@{
    ViewBag.Title = "Images of " + ViewBag.ProductName;
    ViewBag.Function = "Products";
    ViewBag.ChildFunction = "Image Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var list = (List<TheNight_JustBuy.Models.ProductImage>)ViewBag.List;

}

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">New Image</h3>
                    </div>
                    @using (Html.BeginForm("Images", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="card-body">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" id="ProductID" name="ProductID" value="@ViewBag.ProductId" />
                                <div class="form-group row">
                                    @Html.Label("Image", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-10">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="ImageFile" id="ImageFile" required>
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Add Image</button>
                                <button type="reset" class="btn btn-default float-right" onclick="window.location = '../'">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-7">
                <div class="card">
                    <div class="card-lightblue">
                        <div class="card-header">
                            <h3 class="card-title">Data of Product Images</h3>
                        </div>
                        <div class="card-body">
                            <table id="tbl_ImageProducts" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            No.
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ImageFileName)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 0; }
                                    @foreach (var item in list)
                                    {
                                        <tr>

                                            <td>
                                                @{ i++; }
                                                @i
                                            </td>
                                            <td>
                                                <img src="@Url.Content(item.ImageFileName )" style="max-height:200px; max-width:200px;" />
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-danger-@item.ImageID" href="#">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Delete
                                                </a>


                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@foreach (var item in list)
    {
<div class="modal fade" id="modal-danger-@item.ImageID">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">DANGER</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align: center;">You won't be able to revert this!</p>
                @if (!item.ImageFileName.IsEmpty())
                {
                    <img src="@Url.Content(item.ImageFileName)"  style="max-height:100%; max-width:100%; text-align:center" />
                }
                else
                {
                    <p>No Image</p>
                }
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                @using (Html.BeginForm("DeleteImage", "Products", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ImageId", item.ImageID);
                    @Html.Hidden("ProductId", item.ProductID);
                    <button type="submit" class="btn btn-outline-light" id="btnConfirmDelete">Confirm</button>
                }
            </div>

        </div>
    </div>
</div>
    }
@section ScriptConfig
{
    @Styles.Render("~/asset/css/datatable")
    @Scripts.Render("~/asset/scripts/datatable")
    <script src="~/Asset/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>$('.select2').select2()</script>
    <script>

        

        $("#tbl_ImageProducts").DataTable({
            "destroy": true,
            "responsive": true,
            "autoWidth": false,
            "dom": '<"pull-left"B><"pull-right"f>rt<"row"<"col-sm-4"l><"col-sm-4"i><"col-sm-4"p>>',
            "buttons": [
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i> Excel',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-success btn-sm'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i> PDF',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-danger btn-sm'
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i> Print',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-info btn-sm'
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
            "aoColumns": [
                null,
                null,
                null
            ],

        });


    </script>
}

