@model IEnumerable<TheNight_JustBuy.Models.OrderDetail>

@{
    ViewBag.Title = "Manage Order Details";
    ViewBag.Manage = "Manage Order Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data of Order Details</h3>
                <div class="card-tools">
                    <a class="btn btn-block btn-secondary float-right" href="~/Admin/Orders">Back to List</a>
                </div>

            </div>
            <div class="card-body">
                <table id="tbl_OrderDetail" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderID)
                            </th>
                            <th>
                                Full name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.Thumbnail)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.UnitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Order.User.FirstName) @Html.DisplayFor(modelItem => item.Order.User.LastName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Product.ProductName)
                            </td>
                            <td>
                                <img src="@Url.Content(item.Product.Thumbnail)" width="150" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section ScriptConfig
{
    @Styles.Render("~/asset/css/datatable")
    @Scripts.Render("~/asset/scripts/datatable")
    <script src="~/Asset/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Asset/ajaxChangeSatus/coupons.js"></script>
    <script>
        $("#tbl_OrderDetail").DataTable({
            "responsive": true,
            "autoWidth": false,
            "dom": '<"pull-left"B><"pull-right"f>rt<"row"<"col-sm-4"l><"col-sm-4"i><"col-sm-4"p>>',
            "buttons": [
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i> Excel',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-success btn-sm'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i> PDF',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-danger btn-sm'
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i> Print',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    },
                    className: 'btn btn-info btn-sm'
                }
            ],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "aoColumns": [
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    </script>
}
