
@{
    var listLatest = (List<TheNight_JustBuy.Models.Product>)ViewBag.Latest;
    var expensive = (TheNight_JustBuy.Models.Product)ViewBag.Expensive;
    var blog = (List<TheNight_JustBuy.Models.Blog>)ViewBag.Blog; 
    var listCheap = (List<TheNight_JustBuy.Models.Product>)ViewBag.ListCheap;


}
    <div class="page-contain">
        <div id="main-content" class="main-content">

            <!-- Block 01: Main slide block-->
            <div class="main-slide block-slider">
                <ul class="biolife-carousel nav-none-on-mobile" data-slick='{"arrows": true, "dots": false, "slidesMargin": 0, "slidesToShow": 1, "infinite": true, "speed": 800}'>
                    <li>
                        <div class="slide-contain slider-opt03__layout01 mode-03 black-color slide-bgr-mode03-01">
                            <div class="media"></div>
                            <div class="text-content">
                                <i class="first-line">JustBuy</i>
                                <h3 class="second-line">Technology for life</h3>
                                <p class="third-line">Good Products to Buy</p>
                                <p class="buttons">
                                    <a href="~/Items/Index" class="btn btn-bold">Shop now</a>
                                    <a href="#" class="btn btn-thin">View lookbook</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slide-contain slider-opt03__layout01 mode-03 slide-bgr-mode03-02">
                            <div class="media">
                            </div>
                            <div class="text-content">
                                <i class="first-line">JustBuy</i>
                                <h3 class="second-line">Technology for life</h3>
                                <p class="third-line">Good Products to Buy</p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-bold">Shop now</a>
                                    <a href="#" class="btn btn-thin">View lookbook</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slide-contain slider-opt03__layout01 mode-03 slide-bgr-mode03-03">
                            <div class="media">
                            </div>
                            <div class="text-content">
                                <i class="first-line">JustBuy</i>
                                <h3 class="second-line">Technology for life</h3>
                                <p class="third-line">Good Products to Buy</p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-bold">Shop now</a>
                                    <a href="#" class="btn btn-thin">View lookbook</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="biolife-gird-banners xs-margin-top-80px sm-margin-top-0">

                <div class="grid-panel">

                    <div class="grid-panel-item left-content">
                        <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-01">
                            <a href="#" class="media-contain media-01"></a>
                            <div class="banner-contain">
                                <a href="#" class="cat-name">Sam Sung Galaxy S20+</a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-panel-item midle-content">
                        <ul class="list-media">
                            <li>
                                <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-02">
                                    <a href="#" class="media-contain media-02"></a>
                                    <div class="banner-contain">
                                        <a href="#" class="cat-name">Iphone 11 white</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-03">
                                    <a href="#" class="media-contain media-03"></a>
                                    <div class="banner-contain">
                                        <a href="#" class="cat-name">Iphone 11 blue</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-04">
                                    <a href="#" class="media-contain media-04"></a>
                                    <div class="banner-contain">
                                        <a href="#" class="cat-name">Iphone 11 red</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-05">
                                    <a href="#" class="media-contain  media-05"></a>
                                    <div class="banner-contain">
                                        <a href="#" class="cat-name">Iphone 11 Pro</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="grid-panel-item right-content">
                        <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-06">
                            <a href="#" class="media-contain media-06"></a>
                            <div class="banner-contain">
                                <a href="#" class="cat-name">Xiaomi Redmi Note 10</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Block 03: Product Tab-->
            <div class="product-tab z-index-20 sm-margin-top-49px xs-margin-top-80px">
                <div class="container">
                    <div class="biolife-title-box biolife-title-box__icon-at-top-style hidden-icon-on-mobile">
                        <span class="icon-at-top biolife-icon icon-organic"></span>
                        <span class="subtitle">All the best item for You</span>
                        <h3 class="main-title">Latest  Products</h3>
                    </div>
                    <div class="biolife-tab biolife-tab-contain sm-margin-top-32px">

                        <div class="tab-content">
                            <div id="tab02_1st" class="tab-contain active">
                                <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain" data-slick='{"rows":1 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":30}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "rows":2, "slidesMargin":15}}]}'>
                                    @foreach (var item in listLatest) {

                                    <li class="product-item">
                                        <div class="contain-product layout-default">
                                            <div class="product-thumb">
                                                <a href="@Url.Action("Detail", "Items", new {id = item.ProductID })" class="link-to-product">
                                                    <img src="@Url.Content(item.Thumbnail)" alt="Vegetables" width="270" height="270" class="product-thumnail">
                                                </a>
                                                <a class="lookup btn_call_quickview" href="#"><i class="biolife-icon icon-search"></i></a>
                                            </div>
                                            <div class="info">
                                                <b class="categories">@item.Category.CategoryName</b>
                                                <h4 class="product-title"><a href="@Url.Action("Detail", "Items", new {id = item.ProductID })" class="pr-name">@item.ProductName</a></h4>
                                                <div class="price ">
                                                    <ins><span class="price-amount"><span class="currencySymbol">$</span>@string.Format("{0:N0}", (decimal)item.UnitPrice)</span></ins>
                                                    <del><span class="price-amount"><span class="currencySymbol">$</span>@string.Format("{0:N0}", (decimal)item.OldUnitPrice)</span></del>
                                                </div>
                                                <div class="slide-down-box">
                                                    <p class="message"></p>
                                                    <div class="buttons">
                                                        <a href="@Url.Action("AddItem", "Cart", new { productID = item.ProductID, quantity = 1 })" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Block 04: Banners-->
            <div class="banner-block md-margin-top-61px sm-margin-bottom-89px xs-margin-top-60px">
                <div class="biolife-banner special-02 biolife-banner__special-02">
                    <div class="container">
                        <div class="banner-contain">
                            <div class="thumb">
                                <a href="@Url.Action("Detail", "Items", new {id = expensive.ProductID })" class="link"><img src="@Url.Content(expensive.Thumbnail)" width="500" alt=""></a>
                            </div>
                            <div class="text-content">
                                <i class="text01">Product</i>
                                <b class="text02">The Most Expensive</b>
                                <span class="text03">@expensive.Supplier.CompanyName</span>
                                <span class="text04"><i>@expensive.ProductName</i></span>
                                <div class="product-detail">
                                    <h4 class="product-name">@expensive.Category.CategoryName</h4>
                                    <div class="price price-contain">
                                        <ins><span class="price-amount"><span class="currencySymbol">$</span>@string.Format("{0:N0}", (decimal)expensive.UnitPrice)</span></ins>
                                    </div>
                                    <p class="measure"></p>
                                    <div class="buttons">
                                        <a href="@Url.Action("AddItem", "Cart", new { productID = expensive.ProductID, quantity = 1 })" class="btn add-to-cart-btn" tabindex="-1">add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Block 05: Banner Promotion-->
            <div class="banner-promotion xs-margin-top-0 sm-margin-top-60px xs-margin-top-100">
                <div class="biolife-banner promotion6 biolife-banner__promotion6">
                    <div class="banner-contain">
                        <div class="media">
                            <div class="img-moving position-1">
                                <a href="#" class="banner-link">
                                    <img src="~/Content/clients/images/home-01/hinhnghien.png" width="568" height="760" alt="img msv">
                                </a>
                            </div>
                            <div class="img-moving position-2">
                                <img src="~/Content/clients/images/home-01/hinhnghien.png" width="745" height="682" alt="img msv">
                            </div>
                        </div>
                        <div class="text-content">
                            <i class="text1">JustBuy</i>
                            <b class="text2">Good Products to Buy</b>
                            <p class="buttons">
                                <a href="#" class="btn btn-thin">Shop Now</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Block 06: Product Tab-->
            <div class="product-tab z-index-20 sm-margin-top-71px xs-margin-top-80px">
                <div class="container">
                    <div class="biolife-title-box biolife-title-box__icon-at-top-style hidden-icon-on-mobile sm-margin-bottom-24px">
                        <span class="icon-at-top biolife-icon icon-organic"></span>
                        <span class="subtitle">All the best item for You</span>
                        <h3 class="main-title">Cheap products</h3>
                    </div>
                    <div class="biolife-tab biolife-tab-contain">
                        <div class="tab-content">
                            <div id="tab01_1st" class="tab-contain active">
                                <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain" data-slick='{"rows":2 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin": 30}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin": 15}}]}'>
                                   
                                    @foreach(var item in listCheap){

                                    <li class="product-item">
                                        <div class="contain-product layout-default">
                                            <div class="product-thumb">
                                                <a href="@Url.Action("Detail", "Items", new {id = expensive.ProductID })" class="link-to-product">
                                                    <img src="@Url.Content(item.Thumbnail)" alt="Vegetables" width="270" height="270" class="product-thumnail">
                                                </a>
                                                <a class="lookup btn_call_quickview" href="#"><i class="biolife-icon icon-search"></i></a>
                                            </div>
                                            <div class="info">
                                                <b class="categories">Vegetables</b>
                                                <h4 class="product-title"><a href="@Url.Action("Detail", "Items", new {id = expensive.ProductID })" class="pr-name">@item.ProductName</a></h4>
                                                <div class="price ">
                                                    <ins><span class="price-amount"><span class="currencySymbol">$</span>@string.Format("{0:N0}", (decimal)expensive.UnitPrice)</span></ins>
                                                    <del><span class="price-amount"><span class="currencySymbol">$</span>@string.Format("{0:N0}", (decimal)expensive.OldUnitPrice)</span></del>
                                                </div>
                                                <div class="slide-down-box">
                                                    <p class="message"></p>
                                                    <div class="buttons">
                                                        <a href="@Url.Action("AddItem", "Cart", new { productID = item.ProductID, quantity = 1 })" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Block 07: Blog posts-->
            <div class="blog-posts sm-margin-top-49px xs-margin-top-60px">
                <div class="container">
                    <div class="biolife-title-box biolife-title-box__bold-center xs-margin-bottom-50px sm-margin-bottom-0-im">
                        <i class="subtitle">The freshest and most exciting news</i>
                        <h3 class="main-title">Our Blogs</h3>
                    </div>
                    <ul class="biolife-carousel nav-center xs-margin-top-34px nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":3, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 3}},{"breakpoint":992, "settings":{ "slidesToShow": 2}},{"breakpoint":768, "settings":{ "slidesToShow": 2}},{"breakpoint":600, "settings":{ "slidesToShow": 1}}]}'>
                        @foreach (var item in blog)
                        {
                        <li>
                            <div class="post-item effect-01 style-bottom-info layout-02 ">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Detail", "Blog", new {id = item.BlogID })" class="link-to-post"><img src="@Url.Content(item.Thumbnail)" width="370" height="270" alt=""></a>
  
                                </div>
                                <div class="post-content">
                                    <h4 class="post-name"><a href="@Url.Action("Detail", "Blog", new {id = item.BlogID })" class="linktopost">@item.BlogName</a></h4>
                                    <div class="post-meta">
                                        <a href="#" class="post-meta__item author"><img src="@Url.Content(item.User.Avatar)" width="28" height="28" alt=""><span>@item.User.FirstName @item.User.LastName</span></a>
                                        <a href="#" class="post-meta__item btn liked-count">@item.BlogComments.Count<span class="biolife-icon icon-comment"></span></a>
                                        <a href="#" class="post-meta__item btn comment-count">6<span class="biolife-icon icon-like"></span></a>
                                        <div class="post-meta__item post-meta__item-social-box">
                                            <span class="tbn"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                            <div class="inner-content">
                                                <ul class="socials">
                                                    <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="excerpt">@item.ShortDescription</p>
                                    <div class="group-buttons">
                                        <a href="@Url.Action("Detail", "Blog", new {id = item.BlogID })" class="btn readmore">continue reading</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>

            <!-- Block 08: Advance Product-->
            

            <!-- Block 09: Instagram-->
            <div class="biolife-instagram-block sm-margin-top-76px xs-margin-top-60px">
                <div class="wrap-title xs-margin-bottom-60px-im sm-margin-bottom-35-im">
                    <i class="subtitle hidden-xs"></i>
                    <h3 class="title">Follow us on instagram</h3>
                </div>
                <div class="instagram-inline-wrap">
                    <ul class="biolife-carousel nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":6, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 6}},{"breakpoint":992, "settings":{ "slidesToShow": 5}},{"breakpoint":800, "settings":{ "slidesToShow": 4}},{"breakpoint":768, "settings":{ "slidesToShow": 3}},{"breakpoint":600, "settings":{ "slidesToShow": 2}},{"breakpoint":480, "settings":{"rows":2, "slidesToShow": 3}}]}'>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-capacity-about"></span>
                                    <img src="~/Content/clients/images/home-01/instag-inline-01.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-fresh-drink"></span>
                                    <img src="~/Content/clients/images/home-01/instag-inline-02.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-green-safety"></span>
                                    <img src="~/Content/clients/images/home-01/instag-inline-03.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-healthy-about"></span>
                                    <img src="~/Content/clients/images/home-01/instag-inline-04.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-honey"></span>
                                    <img src="~/Content/clients/images/home-01/instag-inline-05.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-fruits"></span>
                                    <img src="~/Content/clients/images/home-01/instag-inline-06.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-broccoli-1"></span>
                                    <img src="~/Content/clients/images/home-01/instag-inline-07.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-grape"></span>
                                    <img src="~/Content/clients/images/home-01/instag-inline-08.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <!-- Block 10: Brands-->
            <div class="brand-slide sm-margin-top-76px sm-margin-bottom-77px xs-margin-top-80px xs-margin-bottom-80px">
                <div class="container">
                    <ul class="biolife-carousel nav-center-bold nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin": 10}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin": 10}}]}'>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="~/Content/clients/images/home-01/brd-01.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="~/Content/clients/images/home-01/brd-02.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="~/Content/clients/images/home-01/brd-03.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="~/Content/clients/images/home-01/brd-04.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="~/Content/clients/images/home-01/brd-01.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="~/Content/clients/images/home-01/brd-02.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="~/Content/clients/images/home-01/brd-03.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="~/Content/clients/images/home-01/brd-04.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>