@model TheNight_JustBuy.ViewModels.CustomerLoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-section hero-background">
    <h1 class="page-title">Login</h1>
</div>

<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a href="~/home" class="permal-link">Home</a></li>
            <li class="nav-item"><span class="current-page">Authentication</span></li>
        </ul>
    </nav>
</div>

<div class="page-contain login-page">
    <div id="main-content" class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="signin-container">
                        @using (Html.BeginForm("Index", "CustomerLogin", FormMethod.Post, htmlAttributes: new { name = "frm-login" }))
                        {
                            <p class="form-row">
                                <label for="fid-name">Username:<span class="requite">*</span></label>
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "txt-input", @placeholder = "Enter your username", @id = "fid-name" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </p>
                            <p class="form-row">
                                <label for="fid-name">Password:<span class="requite">*</span></label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "txt-input", @type="password", @placeholder = "Enter your username", @id = "fid-pass" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </p>

                            <div style="color:red;padding-bottom:2%">@ViewBag.LoginMessage</div>

                            <p class="form-row wrap-btn">
                                <button class="btn btn-submit btn-bold" type="submit">sign in</button>
                                <a href="#" class="link-to-help">Forgot your password</a>
                            </p>
                        }
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="register-in-container">
                        <div class="intro">
                            <h4 class="box-title">New Customer?</h4>
                            <p class="sub-title">Create an account with us and you’ll be able to:</p>
                            <ul class="lis">
                                <li>Check out faster</li>
                                <li>Save multiple shipping anddesses</li>
                                <li>Access your order history</li>
                                <li>Track new orders</li>
                                <li>Save items to your Wishlist</li>
                            </ul>
                            <a href="@Url.Action("Index", "Register")" class="btn btn-bold">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

